* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #F4F4F4;
}
.content {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.displaybox:not(:first-child) {
    
    border-top: 1px solid black;
}
.content header {
    text-align: center;
}
.displaybox {
background: #1A363B;
color: white;
max-width: 550px;
padding: 16px;
}
.displaybox header {
    width: 100%;
    padding-bottom: 16px;
}
.catdisp {
    width: 100%;
}
.catdisp th {
    float: left;
    white-space: nowrap;
}
.catdisp tr {
    width: 55px;
}
.catdisp td{
    text-align: center;
    padding: 0 4px;
}

.genbtn-case{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.genbtn-case button {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 200ms all linear;
}
.genbtn-case button:hover {
    background: #99B898;
};
input[type=radio] {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.inforow {
    display: inline-flex;
}
.infobox {
    display: block;
    padding: 6px 16px;
    margin-right: 16px;
}